<!DOCTYPE html>
<html>
  <head>
    <title>Certificates</title>
  </head>
  <body>
    <% for (const certificate of certificates) { %>
      <%= certificate %>
      <hr />
    <% } %>
  </body>
</html>
