<!DOCTYPE html>
<html>
<head>
  <title>QR Generator</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="logo-wrapper">
        <img class="logo" src="/public/uc/uc_logo.png" alt="Logo">
        <div class="company-info">
          <h1 class="company-name">University of the Cordilleras</h1>
          <p class="intto">Innovation and Technology Transfer Office</p>
        </div>
        <img class="logo1" src="/public/uc/InTTO_Logo.jpg" alt="inttologo">
      </div>
    </div>
    <form action="/generate" method="POST" enctype="multipart/form-data">
    <div class="buttons-container">
      <div class="buttons">
        <div class="inner1">
          <h1>QR SYSTEM CERTIFICATION</h1><br/><br/>
          <p>Upload your Spreadsheets and Certificates</p>
        </div>
        <div class="inner2">
          <div class="file-upload">
            <label for="upload1" class="file-label">
            <input type="file" name="spreadsheet" id="spreadsheet" accept=".xlsx,.xls" required/><br/><br/>
            <span class="file-name">Upload Excel Spreadsheet</span>
            </label>
          </div>
          <div class="file-upload">
            <label for="upload1" class="file-label">
            <input type="file" name="template" id="template" accept=".png" required/><br/><br/>
            <span class="file-name">Upload Certificate Template</span>
          </label>
          </div>
        </div>
        <div class="inner3">
          <button type="submit" class="button">Run</button>
        </div>
          </svg>
        </div>
      </div>
    </form>
    </div>
  </div>
</body>
</html>


